*{
  font-family: Helvetica, Arial, Sans-serif;
}
h3{
 margin-top: 60px;
}
input{
  font-size:1.2rem ;
  width: 100%;
  color: gray;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  

 

}
/* .w-70{
  width: 400px;
} */

.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom:10px ;
  margin-right: 10px;

}
.card p{
  padding :8px;
  text-align:left;

}
.card h3{
  padding :8px;
  text-align:center;

}
.ml-20{
  margin-left: 20px;
}
.form-3{
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  margin-left: 20%;
  background: #0b151f;
}
.form-3 .btnSubmit{
  background-color: #fff;
  color: #0b151f;
}
.form-3 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
h2{
  color: #fff;
}
.continue-btn{
  margin: 30px;
}